/* importamos la letra de google */
@import url("https://fonts.googleapis.com/css2?family=Goblin+One&display=swap");

* {
  padding: 10px;
}
body {
  background-color: orchid;
}

.contenedor {
  background-color: white;
}

/* agregamos el tipo de letra */
.parrafo1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.parrafo2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.parrafo3 {
  font-style: italic;
}

.parrafo4 {
  font-style: normal;
}

.parrafo5 {
  font-style: normal;
}

.parrafo6 {
  font-weight: bold;
}

.parrafo7 {
  font-weight: bolder;
}

.parrafo8 {
  font-variant: small-caps;
}

.parrafo9 {
  font-variant: normal;
}

.parrafo10 {
  font-size: 30px;
}

/* utilizamos las fuentes de google descargadas */
/* importamos la letra de google que se han descargado */
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@900&display=swap");

/* definiendo las lñetras que se han importado */
@font-face {
  font-family: "indie flower";
  src: url("/fonts/IndieFlower-Regular.ttf");
}

@font-face {
  font-family: "girasol";
  src: url("/fonts/Girassol-Regular.ttf");
}

.parrafo11 {
  font-family: "indie-flower";
}

.parrafo12 {
  font-family: "girasol";
}

/* utilizamos la letra de google importada */
.parrafo13 {
  font-family: "shelter" cursive;
}

.parrafo14 {
  font-family: "batman";
  font-size: 25px;
}
