body {
    margin: 0;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 15px;
    width: 15%;
    background-color: moccasin;
    position: fixed;
    overflow: auto;
    border: 1px solid #555;
    margin-left: 650px;
  }
  
  li {
    text-align: center;
    border: 1px solid #555;
  }
  
  li a {
    display: block;
    color: black;
    padding: 8px 10px;
    text-decoration: none;
  }
  
  li a.activo {
    background-color: black;
    color: white;
  }
  li a.activo2{
    background-color: black;
  }
  
  li a:hover:not(.activo) {
    background-color: #555;
    color: white;
  }
  
  body {
    background-image: url("/francis193.github.io/img/laboratorio\ 1.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
  }

  
  h1 {
    color: white;
    padding: 30px;
  }