body {
    margin: 0;
  }
  
  ul {
    list-style-type: none;
    margin: -40px;
    padding: 0;
    width: 15%;
    background-color: mediumturquoise;
    position: fixed;
    overflow: auto;
    border: 1px solid #555;
    margin-left: 100px;
  }
  
  li {
    text-align: center;
    border: 1px solid #555;
  }
  
  li a {
    display: block;
    color: black;
    padding: 8px 10px;
    text-decoration: none;
  }
  
  li a.activo {
    background-color: black;
    color: white;
  }
  li a.activo2 {
    background-color: black;
    color: white;
  }
  li a:hover:not(.activo) {
    background-color: purple;
    color: white;
  }
  
  body {
    background-image: url("/img/valve-explains-why-half-life-2-episode-3-was-never-made_feqq.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
  }
  h1 {
    color: white;
    padding-left: 100px;
  }